{% include 'base.html' %}
{% include 'navigation.html' %}


{% block content %}

{% load static %}
<!---------------------Inroduction Section---------------------->
<div class="main">
  <div id="carousel-slider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel-slider" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carousel-slider" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carousel-slider" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/service.jpg' %}" style="width: 100%;" class="d-block w-100" alt="...">
        <div class="carousel-caption text-white">
          <div class="background-1">
            <h2>Postoperative Care</h2>
            <p>Postoperative care is the care you receive after a surgical procedure. The type of postoperative
              care you need depends on the type of surgery you have, as well as your health history. It often
              includes pain management and wound care.
            </p>
            <button class="btn btn-light"><a href="#departments" class="nav-link">See All Services</a></button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/service.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption text-white">
          <div class="background-1">
            <h2>Surgery</h2>
            <p>Surgery is a medical specialty that uses operative manual and instrumental techniques on a person
              to investigate or treat a pathological condition such as a disease or injury, to help improve
              bodily function or appearance or to repair unwanted ruptured areas.
            </p>
            <button class="btn btn-light"><a href="#departments" class="nav-link">See All Services</a></button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/service.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption text-white">
          <div class="background-1">
            <h2>Neonatal intensive care unit</h2>
            <p>A neonatal intensive care unit, also known as an intensive care nursery, is an intensive care
              unit specializing in the care of ill or premature newborn infants. Neonatal refers to the first
              28 days of life. Neonatal care, as known as specialized nurseries or intensive care, has been
              around since the 1960s.
            </p>
            <button class="btn btn-light"><a href="#departments" class="nav-link">See All Services</a></button>
          </div>

        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-slider" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-slider" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>



  <!----------------------Introduction Section------------->
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="text-center">
            <h1 class="text-center">Welcome to hospital management system </h1>
          </h1>
          <p class="text-justify">
          <h5>Hospital Management system is a system where you can take any type of services. It is located in
            Tulsipur Dang. It provides different types of services like radiography, different types sergons with
            highly reputed doctors.</h5>
          </p>
        </div>
        <div class="col-lg-6">
          <div class="container-fluid">
            <br>
            <button class="btn btn-lg btn-block"><a href="#about" class="nav-link"><i
                  class="fa fa-calendar-minus-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Request
                Appointments</a></button>
            <br>
            <button class="btn btn-lg btn-block"><a href="#about" class="nav-link"><i
                  class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;Emergency
                Contact</a></button>
            <br>
            <button class="btn btn-lg btn-block"><a href="#doctors" class="nav-link"><i
                  class="fa fa-user-md"></i>&nbsp;&nbsp;&nbsp;&nbsp;Find
                Doctors</a></button>
            <br>
            <button class="btn btn-lg btn-block"><a href="#about" class="nav-link"><i
                  class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;Location</a></button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------------------Inroduction Section End---------------------->







<div class="container-fluid mt-3">
  <br>
  <!-- Nav pills -->
  <center>
    <ul class="nav nav-pills" role="tablist">
      <li class="nav_item">
        <a class="nav-link active" data-bs-toggle="pill" href="#home">ALL services</a>
      </li>
      <li class="nav_item">
        <a class="nav-link" data-bs-toggle="pill" href="#menu1">Medical services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#menu2">Other Services</a>
      </li>
    </ul>
  </center>
  <!-- Tab panes -->
  <div class="tab-content wow animate__animated animate__fadeInUp">
    <div id="home" class="container-fluid tab-pane active"><br>

      <!--------------Medical Services -------------------->


      <div class="main" style="background-color: whitesmoke;">
        <div class="container-fluid" id="departments">
          <div class="row">
            <div class="col-md-12 mt-3">
              <h4 class="text-center text-primary">Departments</h4>
              <h1 class="text-center">All services</h1>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-sm-6 ">
              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/gen.png' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title " style="text-align: center;">Gynecologist</h4>

                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>

            </div>
            <div class="col-xl-3 col-sm-6 ">
              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/rdo.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Radiology</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/service2.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Generol</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6  ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/ort.avif' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px; ">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Orthopedic</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/obs.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px; ">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Obstetrician</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/ser.webp' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Surgery</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/rdo.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Radiology</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">

                <img class="card-img-top m-2" src="{% static 'images/service2.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">General</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 ">
              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/emr.avif' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title " style="text-align: center;">Emergency</h4>

                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>

            </div>
            <div class="col-xl-3 col-sm-6 ">
              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/far.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Pharmacy</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/usg.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">USG</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6  ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/endo.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px; ">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Endoscopy</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/colo.jpeg' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px; ">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Colonoscopy</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/clop.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Colposcopy</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/rdo.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Lab</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">

                <img class="card-img-top m-2" src="{% static 'images/service2.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">X-Ray</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!----------------------Medical Services End--------------->

    </div>
    <div id="menu1" class="container-fluid tab-pane fade"><br>
      <!--------------Medical Services -------------------->


      <div class="main" style="background-color: whitesmoke;">
        <div class="container-fluid " id="departments">
          <div class="row">
            <div class="col-md-12 mt-3">
              <h1 class="text-center">Medical services</h1>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-sm-6 ">
              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/gen.png' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title " style="text-align: center;">Gynecologist</h4>

                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>

            </div>
            <div class="col-xl-3 col-sm-6 ">
              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/rdo.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Radiology</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/service2.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Generol</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6  ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/ort.avif' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px; ">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Orthopedic</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/obs.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px; ">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Obstetrician</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/ser.webp' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Surgery</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/rdo.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Radiology</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">

                <img class="card-img-top m-2" src="{% static 'images/service2.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">General</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!----------------------Medical Services End--------------->
    </div>
    <div id="menu2" class="container-fluid tab-pane fade"><br>
      <!-----------------------------Other Services Section Beginning-------------------->

      <div class="main" style="background-color: whitesmoke;">
        <div class="container-fluid " id="departments">
          <div class="row">
            <div class="col-md-12 mt-3">
              <h1 class="text-center">Other Services</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-sm-6 ">
              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/emr.avif' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title " style="text-align: center;">Emergency</h4>

                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>

            </div>
            <div class="col-xl-3 col-sm-6 ">
              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/far.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Pharmacy</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/usg.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">USG</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6  ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/endo.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px; ">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Endoscopy</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/colo.jpeg' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px; ">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Colonoscopy</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/clop.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Colposcopy</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">
                <img class="card-img-top m-2" src="{% static 'images/rdo.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px;  border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Lab</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 ">

              <div class="card mx-auto my-3" style="width:250px">

                <img class="card-img-top m-2" src="{% static 'images/service2.jpg' %}" alt="Card image"
                  style="width: 233px; height: 159px; border-radius: 17px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">X-Ray</h4>
                  <i class="fa-solid fa-heart fa-beat" style="color: #0b59e0;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!------------------------------End of Other services---------------------->
    </div>
  </div>
</div>
<!----------------------------- our theam------------------------->
<div class="main_5">
<div class="container">
  <div class="mf_3">
    <h1>Our Team</h1>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur
      velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis
      commodi quidem hic quas.</p>
  </div>

  <div class="match_list_carsel owl-carousel owl-theme container my-5">
    <div class="item">
      <p style="text-align: center;"><i class="fa-solid fa-quote-left" style="color: #c6cfdc;"></i>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas
        <i class="fa-sharp fa-solid fa-quote-right" style="color: #bcc6d7;"></i>
      </p>
      <img src="{% static 'images/w1.jpg' %}" style="width: 90px;border-radius: 50%; height: 90px; margin-left: 38%">
      <h3 style="text-align: center;"> AJMAL SHAFI</h3>
      <h4 style="text-align: center;">CEO & MT</h4>
    </div>

    <div class="item">
      <p style="text-align: center;"><i class="fa-solid fa-quote-left" style="color: #c6cfdc;"></i>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas
        <i class="fa-sharp fa-solid fa-quote-right" style="color: #bcc6d7;"></i>
      </p>
      <img src="{% static 'images/w2.jpg' %}" style="width: 90px;border-radius: 50%; height: 90px; margin-left: 38%">
      <h3 style="text-align: center;"> AJMAL SHAFI</h3>
      <h4 style="text-align: center;">CEO & MT</h4>
    </div>
    <div class="item">

      <p style="text-align: center;"><i class="fa-solid fa-quote-left" style="color: #c6cfdc;"></i>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas
        <i class="fa-sharp fa-solid fa-quote-right" style="color: #bcc6d7;"></i>
      </p>
      <img src="{% static 'images/w3.jfif' %}" style="width: 90px;border-radius: 50%; height: 90px; margin-left: 38%">
      <h3 style="text-align: center;"> AJMAL SHAFI</h3>
      <h4 style="text-align: center;">CEO & MT</h4>
    </div>
    <div class="item">
      <p style="text-align: center;"><i class="fa-solid fa-quote-left" style="color: #c6cfdc;"></i>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas
        <i class="fa-sharp fa-solid fa-quote-right" style="color: #bcc6d7;"></i>
      </p>
      <img src="{% static 'images/w4.jfif' %}" style="width: 90px;border-radius: 50%; height: 90px; margin-left: 38%">
      <h3 style="text-align: center;"> AJMAL SHAFI</h3>
      <h4 style="text-align: center;">CEO & MT</h4>

    </div>
    <div class="item">
      <p style="text-align: center;"><i class="fa-solid fa-quote-left" style="color: #c6cfdc;"></i>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas
        <i class="fa-sharp fa-solid fa-quote-right" style="color: #bcc6d7;"></i>
      </p>
      <img src="{% static 'images/w5.jpg' %}" style="width: 90px;border-radius: 50%; height: 90px; margin-left: 38%;">
      <h3 style="text-align: center;"> AJMAL SHAFI</h3>
      <h4 style="text-align: center;" id="d4">CEO & MT</h4>
    </div>


  </div>

</div>
</div>
<!-----------------------------End our theam------------------------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
  $('.owl-carousel').owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    autoplay: true,
    autoplayTimeout: 2000,
    navText: ["<i class='fas fa-arrow-left'></i>", "<i class='fas fa-arrow-right'></i>"],
    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 2
      },
      1000: {
        items: 3
      }
    }
  })
</script>
{% endblock %}
<!-- {% include "footer.html" %} -->