{% include 'base.html' %}
{% include 'navigation.html' %}
<style>
  hr.rounded {
    border-top: 10px solid lightblue;
    border-radius: 5px;
  }

  .mydivstyle:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
  }

  a {
    text-decoration: none;
  }
</style>

{% block content %}

<div class="container" style="margin-top: 150px;">
  <div class="row">
    <div class="col-sm-4 mydivstyle ml-3">
      <h2 style="color: red;">{{doctors_count}}</h2>
      <a href="{% url 'viewdoc' %}">
        <h4 style="color:blue;">Doctor</h4>
        <hr class="rounded">
      </a>
    </div>

    <div class="col-sm-4 mydivstyle ">
      <h2 style="color: red;">{{patients_count}}</h2>
      <a href="{% url 'viewper' %}">
        <h4 style="color:blue;">Patient</h4>
        <hr class="rounded">
      </a>
    </div>

    <div class="col-sm-4 mydivstyle">
      <h2 style="color: red;">{{appointments_count}}</h2>
      <a href="{% url 'viewapin' %}">
        <h4 style="color:blue;">Appoiment</h4>
        <hr class="rounded">
      </a>
    </div>

  </div>

</div>
{% endblock %}

{% include "footer.html" %}