{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/hospital.css' %}">
</head>

<body>
  <div class="nav1">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark  fixed-top">
      <div class="container-fluid">
        <img class="logo" src="{% static 'images/logo2.png' %}" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ms-auto">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Dashbord</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Doctor</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'viewdoc' %}">View Doctor</a></li>
                <li><a class="dropdown-item" href="{% url 'adddoc' %}">Add Doctor</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Patient</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'viewper' %}">View Patient</a></li>
                <li><a class="dropdown-item" href="{% url 'addper' %}">Add Patient</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Appointment</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'viewapin' %}">View Appointment</a></li>
                <li><a class="dropdown-item" href="{% url 'addapin' %}">Add Appointment</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

  </div>
  <br>
</body>

</html>